<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <meta name='fragment' content='!' />
    <base href='/'>	
  </head>
  <body>
  
  <!--# if expr="$a_country = 0" -->
	
		<div id='FI'> </div>

<!--# endif -->	
  
  <div ng-app='oyblogApp'>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container-fluid">

      
            <div class='header'>
      
        
        <div ng-controller='MenuCtrl'>
        		       		        		        
              <ul ng-if="menuOK" class='nav nav-pills pull-right'>
          		<li class='active'><a  ui-sref='main'>Home</a></li>          
 
<!--           
            	<li role="presentation" class="dropdown">
    			<a class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-expanded="true">&nbsp;&nbsp; Seksi Tarinat &nbsp;&nbsp; <span class="caret"></span></a>
    			
   			 	<ul class="dropdown-menu" role="menu">
    
           		<div  ng-repeat="menuobj in data" >
        
 						<li><a ui-sref="tarinat({otsikko:'{{menuobj.Keyword | convert_to_url}}',aihe:'{{menuobj.Phrase | convert_to_url}}'})">{{menuobj.Phrase}}</a></li>
          			
         		</div>
      
    			</ul>
  				</li> -->
          
          
        </ul>
                
        
        </div> 
               
                
      </div>
            

 	<div ui-view></div>

    </div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-uuid-service/uuid-svc.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/tarinat.js"></script>
        <script src="scripts/services/freeparagraph.js"></script>
        <script src="scripts/controllers/menu.js"></script>
        <script src="scripts/services/jsonpservice.js"></script>
        <script src="scripts/filters/filters.js"></script>
        <!-- endbuild -->
  </div>      
        
</body>
</html>
